apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
      - name: simple-app
        image: 123456789012.dkr.ecr.us-east-1.amazonaws.com/simple-devops-app:latest
        ports:
        - containerPort: 3000
